*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
keystore.properties
*.jks
app/hyperion.jks
app/src/release/res/values/google_maps_api.xml
app/src/debug/res/values/google_maps_api.xml
