*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
keystore.properties
libuvccamera/build
usbCameraTest4Common/build
usbCamera/build
/libuvccamera/src/main/libs
/libuvccamera/src/main/obj
/usbCameraCommon/build
/usbCameraTest4/build
